@using DIGESA.Models.CannabisModels
@using DIGESA.Models.Entities.DBDIGESA
<h3>Solicitud</h3>

<EditForm Model="paciente" OnValidSubmit="RegisterForm">
    <DataAnnotationsValidator/>
    <ValidationSummary Class="alert alert-danger mb-3"/>
    <div class="card shadow-sm mb-5 bg-body rounded">
        <div class="card-body">
            <label>Primer Nombre</label>
            <InputText @bind-Value="paciente.PrimerNombre"/>
            <ValidationMessage For="@(() => paciente.PrimerNombre)"/>

            <label>Segundo Nombre</label>
            <InputText @bind-Value="paciente.SegundoNombre"/>
            <ValidationMessage For="@(() => paciente.SegundoNombre)"/>

            <label>Primer Apellido</label>
            <InputText @bind-Value="paciente.PrimerApellido"/>
            <ValidationMessage For="@(() => paciente.PrimerApellido)"/>

            <label>Segundo Apellido</label>
            <InputText @bind-Value="paciente.SegundoApellido"/>
            <ValidationMessage For="@(() => paciente.SegundoApellido)"/>

            <label>Tipo de Documento</label>
            <InputRadioGroup @bind-Value="@paciente.TipoDocumentoPacienteEnum" class="d-flex gap-3">
                <div class="form-check">
                    <InputRadio class="form-check-input" Value="TipoDocumentoPaciente.Cedula" id="Cedula"/>
                    <label class="form-check-label" for="Cedula">Cedula</label>
                </div>
                <div class="form-check">
                    <InputRadio class="form-check-input" Value="TipoDocumentoPaciente.Pasaporte" id="Pasaporte"/>
                    <label class="form-check-label" for="Pasaporte">Pasaporte</label>
                </div>
            </InputRadioGroup>
            @if (paciente.TipoDocumentoPacienteEnum == TipoDocumentoPaciente.Cedula)
            {
                <div class="mt-2">
                    <label for="cedula">Número de Cédula</label>
                    <InputText id="cedula" class="form-control" @bind-Value="paciente.NumDocCedula"/>
                    <ValidationMessage For="@(() => paciente.NumDocCedula)"/>
                </div>
            }
            else if (paciente.TipoDocumentoPacienteEnum == TipoDocumentoPaciente.Pasaporte)
            {
                <div class="mt-2">
                    <label for="pasaporte">Número de Pasaporte</label>
                    <InputText id="pasaporte" class="form-control" @bind-Value="paciente.NumDocPasaporte"/>
                    <ValidationMessage For="@(() => paciente.NumDocPasaporte)"/>
                </div>
            }
            <label>Nacionalidad</label>
            <InputText @bind-Value="paciente.Nacionalidad" class="form-control"/>
            <ValidationMessage For="@(() => paciente.Nacionalidad)"/>

            <label>Fecha de Nacimiento</label>
            <InputDate @bind-Value="paciente.FechaNacimiento" class="form-control"/>
            <ValidationMessage For="@(() => paciente.FechaNacimiento)"/>

            <label class="form-label">Sexo</label>
            <input type="hidden" name="SexoEnum"@bind="paciente.SexoEnum" />

            <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       id="chkMasculino"
                       checked="@(paciente.SexoEnum == Sexo.Masculino)"
                       @onchange="() => paciente.SexoEnum = Sexo.Masculino"/>
                <label class="form-check-label" for="chkMasculino">Masculino</label>
            </div>
            <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       id="chkFemenino"
                       checked="@(paciente.SexoEnum == Sexo.Femenino)"
                       @onchange="() => paciente.SexoEnum = Sexo.Femenino"/>
                <label class="form-check-label" for="chkFemenino">Femenino</label>
            </div>

            <!-- Fixed Provincia InputSelect with nullable int -->
            <label class="form-label">Provincia</label>
            <InputSelect TValue="int?" class="form-select form-select-sm"
                         Value="@paciente.pacienteProvinciaId"
                         ValueChanged="@(async (int? ProvinciaId) => await pacienteProvinciaChanged(ProvinciaId ?? 0))"
                         ValueExpression="@(() => paciente.pacienteProvinciaId)">
                <option value="">--Seleccione--</option>
                @foreach (var x in pacienteProvincicaslist)
                {
                    <option value="@x.Id">@x.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => paciente.pacienteProvinciaId)" class="text-danger"/>

            <!-- Fixed Distrito InputSelect with nullable int -->
            <label class="form-label">Distrito</label>
            <InputSelect TValue="int?" class="form-select form-select-sm"
                         Value="@paciente.pacienteDistritoId"
                         ValueChanged="@(async (int? DistritoId) => await pacienteDistritoChanged(DistritoId ?? 0))"
                         ValueExpression="@(() => paciente.pacienteDistritoId)">
                <option value="">--Seleccione--</option>
                @foreach (var x in pacienteDistritolist)
                {
                    <option value="@x.Id">@x.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => paciente.pacienteDistritoId)" class="text-danger"/>


            <label class="form-label">Corregimiento</label>
            <InputSelect TValue="int?" class="form-select form-select-sm"
                         @bind-Value="@paciente.pacienteCorregimientoId">
                <option value="">--Seleccione--</option>
                @foreach (var x in pacienteCorregimientolist)
                {
                    <option value="@x.Id">@x.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => paciente.pacienteCorregimientoId)" class="text-danger"/>

            <label class="form-label">Dirección</label>
            <InputTextArea @bind-Value="paciente.DireccionExacta" class="form-control"/>
            <ValidationMessage For="@(() => paciente.DireccionExacta)"/>

            <label class="form-label">Número de teléfono personal</label>
            <InputText @bind-Value="paciente.TelefonoPersonal" class="form-control"/>
            <ValidationMessage For="@(() => paciente.TelefonoPersonal)"/>

            <label class="form-label">Número de teléfono residencia</label>
            <InputText @bind-Value="paciente.TelefonoResidencial" class="form-control"/>
            <ValidationMessage For="@(() => paciente.TelefonoResidencial)"/>

            <label class="form-label">Número de teléfono laboral</label>
            <InputText @bind-Value="paciente.TelefonoLaboral" class="form-control"/>
            <ValidationMessage For="@(() => paciente.TelefonoLaboral)"/>

            <label class="form-label">Correo electrónico</label>
            <InputText @bind-Value="paciente.CorreoElectronico" class="form-control"/>
            <ValidationMessage For="@(() => paciente.CorreoElectronico)"/>

            <div class="col-12 col-sm-6 mb-3">
                <label class="fw-bold">Instalación de salud donde es atendido</label>
                <AutoComplete @bind-Value="instalacionFilterPaciente"
                              TItem="ListModel"
                              DataProvider="AutoCompleteDataProvider"
                              OnChanged="OnAutoCompletePacienteChanged"
                              PropertyName="Name"
                              class="form-control"
                              Placeholder="Busque por instalación de salud"/>
                <ValidationMessage For="@(() => paciente.pacienteInstalacionId)" class="text-danger"/>
            </div>

            <label class="form-label">Region de salud de salud donde es atendido</label>
            <InputSelect TValue="int?" class="form-select form-select-sm"
                         @bind-Value="@paciente.pacienteRegionId">
                <option value="">--Seleccione--</option>
                @foreach (var x in pacienteRegioneslist)
                {
                    <option value="@x.Id">@x.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => paciente.pacienteRegionId)" class="text-danger"/>

            <label class="form-label fw-bold">¿Requiere acompañante?</label>
            <InputRadioGroup @bind-Value="paciente.RequiereAcompanante" class="d-flex gap-3 mb-3">
                <div class="form-check form-check-inline">
                    <InputRadio class="form-check-input" Value="RequiereAcompanante.Si" id="reqSi"/>
                    <label class="form-check-label" for="reqSi">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <InputRadio class="form-check-input" Value="RequiereAcompanante.No" id="reqNo"/>
                    <label class="form-check-label" for="reqNo">No</label>
                </div>
            </InputRadioGroup>
            <ValidationMessage For="@(() => paciente.RequiereAcompanante)"/>

            @if (paciente.RequiereAcompanante == RequiereAcompanante.Si)
            {
                <div class="mt-3">
                    <label class="form-label">Motivo</label>
                    <InputRadioGroup @bind-Value="paciente.MotivoRequerimientoAcompanante" class="d-flex gap-3">
                        <div class="form-check form-check-inline">
                            <InputRadio class="form-check-input"
                                        Value="@MotivoRequerimientoAcompanante.PacienteDiscapacidad"
                                        id="motivoDiscapacidad"/>
                            <label class="form-check-label" for="motivoDiscapacidad">Discapacidad</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <InputRadio class="form-check-input"
                                        Value="@MotivoRequerimientoAcompanante.PacienteMenorEdad"
                                        id="motivoMenorEdad"/>
                            <label class="form-check-label" for="motivoMenorEdad">Menor de edad</label>
                        </div>
                    </InputRadioGroup>
                    <ValidationMessage For="@(() => paciente.MotivoRequerimientoAcompanante)"/>
                </div>

                @if (paciente.MotivoRequerimientoAcompanante == MotivoRequerimientoAcompanante.PacienteDiscapacidad)
                {
                    <div class="mt-3">
                        <label for="TipoDiscapacidad" class="form-label">Describe el tipo de discapacidad</label>
                        <InputText id="TipoDiscapacidad"
                                   class="form-control"
                                   @bind-Value="paciente.TipoDiscapacidad"/>
                        <ValidationMessage For="@(() => paciente.TipoDiscapacidad)"/>
                    </div>
                }

                <!-- Datos del acompañante -->
                <div class="mt-4">
                    <label>Primer Nombre</label>
                    <InputText @bind-Value="acompañante.PrimerNombre" class="form-control"/>
                    <ValidationMessage For="@(() => acompañante.PrimerNombre)"/>

                    <label>Segundo Nombre</label>
                    <InputText @bind-Value="acompañante.SegundoNombre" class="form-control"/>
                    <ValidationMessage For="@(() => acompañante.SegundoNombre)"/>

                    <label>Primer Apellido</label>
                    <InputText @bind-Value="acompañante.PrimerApellido" class="form-control"/>
                    <ValidationMessage For="@(() => acompañante.PrimerApellido)"/>

                    <label>Segundo Apellido</label>
                    <InputText @bind-Value="acompañante.SegundoApellido" class="form-control"/>
                    <ValidationMessage For="@(() => acompañante.SegundoApellido)"/>

                    <label>Tipo de Documento</label>
                    <InputRadioGroup @bind-Value="acompañante.TipoDocumentoAcompañanteEnum" class="d-flex gap-3">
                        <div class="form-check">
                            <InputRadio class="form-check-input" Value="TipoDocumentoAcompañante.Cedula" id="Cedula"/>
                            <label class="form-check-label" for="Cedula">Cédula</label>
                        </div>
                        <div class="form-check">
                            <InputRadio class="form-check-input" Value="TipoDocumentoAcompañante.Pasaporte" id="Pasaporte"/>
                            <label class="form-check-label" for="Pasaporte">Pasaporte</label>
                        </div>
                    </InputRadioGroup>

                    @if (acompañante.TipoDocumentoAcompañanteEnum == TipoDocumentoAcompañante.Cedula)
                    {
                        <div class="mt-2">
                            <label for="cedula">Número de Cédula</label>
                            <InputText id="cedula" class="form-control" @bind-Value="acompañante.NumDocCedula"/>
                            <ValidationMessage For="@(() => acompañante.NumDocCedula)"/>
                        </div>
                    }
                    else if (acompañante.TipoDocumentoAcompañanteEnum == TipoDocumentoAcompañante.Pasaporte)
                    {
                        <div class="mt-2">
                            <label for="pasaporte">Número de Pasaporte</label>
                            <InputText id="pasaporte" class="form-control" @bind-Value="acompañante.NumDocPasaporte"/>
                            <ValidationMessage For="@(() => acompañante.NumDocPasaporte)"/>
                        </div>
                    }

                    <label>Nacionalidad</label>
                    <InputText @bind-Value="acompañante.Nacionalidad" class="form-control"/>
                    <ValidationMessage For="@(() => acompañante.Nacionalidad)"/>

                    <label>Parentesco</label>
                    <InputText @bind-Value="acompañante.Parentesco" class="form-control"/>
                    <ValidationMessage For="@(() => acompañante.Parentesco)"/>
                </div>
            }

            <!-- datos del medico -->
            <label>Nombre</label>
            <InputText @bind-Value="medico.PrimerNombre"/>
            <ValidationMessage For="@(() => medico.PrimerNombre)"/>

            <label>Apellido</label>
            <InputText @bind-Value="medico.PrimerApellido"/>
            <ValidationMessage For="@(() => medico.PrimerApellido)"/>

            <div class="mt-3">
                <label class="form-label">Disciplina del medico</label>
                <InputRadioGroup @bind-Value="medico.MedicoDisciplinaEnum" class="d-flex gap-3">
                    <div class="form-check form-check-inline">
                        <InputRadio class="form-check-input"
                                    Value="@MedicoDisciplina.General"
                                    id="Especialidad"/>
                        <label class="form-check-label" for="Especialidad">General</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <InputRadio class="form-check-input"
                                    Value="@MedicoDisciplina.Odontólogo"
                                    id="Especialidad"/>
                        <label class="form-check-label" for="Especialidad">Odontólogo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <InputRadio class="form-check-input"
                                    Value="@MedicoDisciplina.Especialista"
                                    id="Especialidad"/>
                        <label class="form-check-label" for="Especialidad">Especialista</label>
                    </div>
                </InputRadioGroup>
                <ValidationMessage For="@(() => medico.MedicoDisciplinaEnum)"/>
            </div>

            @if (medico.MedicoDisciplinaEnum == MedicoDisciplina.Especialista)
            {
                <div class="mt-3">
                    <label for="TipoDiscapacidad" class="form-label">Especifique</label>
                    <InputText id="DetalleMedico"
                               class="form-control"
                               @bind-Value="medico.DetalleMedico"/>
                    <ValidationMessage For="@(() => medico.DetalleMedico)"/>
                </div>
            }

            <label>Numero de registro de idoneidad</label>
            <InputText @bind-Value="medico.MedicoIdoneidad"/>
            <ValidationMessage For="@(() => medico.MedicoIdoneidad)"/>

            <label>Número de teléfono donde localizar al médico</label>
            <InputText @bind-Value="medico.MedicoTelefono"/>
            <ValidationMessage For="@(() => medico.MedicoTelefono)"/>

            <div class="col-12 col-sm-6 mb-3">
                <label class="fw-bold">Instalación de salud donde labora el médico</label>
                <AutoComplete @bind-Value="instalacionFilterMedico"
                              TItem="ListModel"
                              DataProvider="AutoCompleteDataProvider"
                              OnChanged="OnAutoCompleteMedicoChanged"
                              PropertyName="Name"
                              class="form-control"
                              Placeholder="Busque por instalación de salud"/>
                <ValidationMessage For="@(() => medico.MedicoInstalacion)" class="text-danger"/>
            </div>

            <!-- Diagnostico -->
            <h3 class="mb-0">Seleccione diagnóstico(s) que justifica el uso de cannabis medicinal y sus derivados</h3>
            <hr/>
            @foreach (var row in pacienteDiagnosticolist)
            {
                <div class="form-check mb-2">
                    <input class="form-check-input"
                           type="checkbox"
                           id="diag_@row.Id"
                           @bind="row.IsSelected"/>

                    @if (row.Id == 0)
                    {
                        <!-- “Otro” va con checkbox + input juntos -->
                        <label class="form-check-label me-2" for="diag_0">
                            Otro diagnóstico:
                        </label>
                        <InputText @bind-Value="row.NombreDiagnostico"
                                   placeholder="Describa otro…"
                                   class="form-control form-control-sm d-inline-block"
                                   style="width: auto;"
                                   disabled="@(!row.IsSelected)"/>
                        <ValidationMessage For="() => row.NombreDiagnostico"/>
                    }
                    else
                    {
                        <!-- Diagnóstico estático: label dentro del form-check -->
                        <label class="form-check-label" for="diag_@row.Id">
                            @row.NombreDiagnostico
                        </label>
                    }
                </div>
            }
            
            <!-- Producto del paciente -->
            <label>Nombre Generico del producto</label>
            <InputRadioGroup @bind-Value="productoPaciente.NombreProductoEnum" class="d-flex gap-3">
                <div class="form-check">
                    <InputRadio class="form-check-input" Value="NombreProductoE.CBD" id="CBD"/>
                    <label class="form-check-label" for="CBD">CBD (Cannabidiol)</label>
                </div>
                <div class="form-check">
                    <InputRadio class="form-check-input" Value="NombreProductoE.THC" id="THC"/>
                    <label class="form-check-label" for="THC">THC (delta-9-tetrahidrocannabinol)</label>
                </div>
                <div class="form-check">
                    <InputRadio class="form-check-input" Value="NombreProductoE.Otro" id="Otro"/>
                    <label class="form-check-label" for="Otro">Otro</label>
                </div>
            </InputRadioGroup>

            @if (productoPaciente.NombreProductoEnum == NombreProductoE.Otro)
            {
                <div class="mt-2">
                    <label for="cedula">Especifique</label>
                    <InputText id="cedula" class="form-control" @bind-Value="productoPaciente.NombreProducto"/>
                    <ValidationMessage For="@(() => productoPaciente.NombreProducto)"/>
                </div>
            }
            
            <label>Nombre comercial del producto</label>
            <InputText @bind-Value="productoPaciente.NombreProducto"/>

            <h3 class="mb-0">Seleccione Forma Farmacéutica</h3>
            <hr/>
            @foreach (var row in productoFormaList)
            {
                <div class="form-check mb-2">
                    <input class="form-check-input"
                           type="checkbox"
                           id="diag_@row.Id"
                           @bind="row.IsSelectedForma"/>

                    @if (row.Id == 0)
                    {
                        <!-- “Otro” va con checkbox + input juntos -->
                        <label class="form-check-label me-2" for="diag_0">
                            Otro(s) cannabinoide, especifique:
                        </label>
                        <InputText @bind-Value="row.NombreForma"
                                   placeholder="Describa otro…"
                                   class="form-control form-control-sm d-inline-block"
                                   style="width: auto;"
                                   disabled="@(!row.IsSelectedForma)"/>
                        <ValidationMessage For="() => row.NombreForma"/>
                    }
                    else
                    {
                        <!-- Diagnóstico estático: label dentro del form-check -->
                        <label class="form-check-label" for="diag_@row.Id">
                            @row.NombreForma
                        </label>
                    }
                </div>
            }
            <!-- Renglones -->
            @* <div class="card-body"> *@
            @* <div class="mb-3"> *@
            @*     <label class="fw-bold">Detalles del Grupo <span *@
            @*             class="text-danger">(LEER TEXTO DE EJEMPLO)</span></label> *@
            @*     <TextAreaInput @bind-Value="RequisicionData.GrupoBase" *@
            @*                    class="form-control form-control-sm text-uppercase" Rows="6" *@
            @*                    aria-required="true"/> *@
            @*     <ValidationMessage For="() => RequisicionData.GrupoBase" class="text-danger"/> *@
            @* </div> *@
        @*     @if (!ResultRenglon.Success) *@
        @*     { *@
        @*         <div class="mb-3"> *@
        @*             @foreach (var item in ResultRenglon.Errores) *@
        @*             { *@
        @*                 <p class="text-danger mb-0">@item</p> *@
        @*             } *@
        @*         </div> *@
        @*     } *@
        @*     <div class="row mb-2"> *@
        @*         <div class="col-lg-2"> *@
        @*             <label class="fw-bold">Cantidad</label> *@
        @*             <input type="number" @bind="RenglonForm.Cantidad" *@
        @*                    class="form-control form-control-sm text-uppercase" *@
        @*                    id="RowCantidad"> *@
        @*         </div> *@
        @*         <div class="col-lg-3"> *@
        @*             <label class="fw-bold">Código</label> *@
        @*             <div class="input-group"> *@
        @*                 <input *@
        @*                     id="RowCodigo" *@
        @*                     type="text" *@
        @*                     @bind="RenglonForm.Codigo" *@
        @*                     class="form-control form-control-sm text-uppercase"> *@
        @*                 @if (RequisicionData.TipoRequisicionCode == "IS") *@
        @*                 { *@
        @*                     <button class="btn btn-sm btn-primary" type="button" @onclick="LoadFicha" *@
        @*                             disabled="@(RequisicionData.TipoRequisicionCode != "IS")"> *@
        @*                         <Tooltip Title="Buscar Datos de la Ficha Técnica"> *@
        @*                             <i class="fa-solid fa-magnifying-glass"></i> *@
        @*                         </Tooltip> *@
        @*                     </button> *@
        @*                 } *@
        @*             </div> *@
        @*             @if (RequisicionData.TipoRequisicionCode == "IS") *@
        @*             { *@
        @*                 <div class="alert alert-info pb-0 mt-1" role="alert"> *@
        @*                     <p>Puede dar clic al botón para buscar los datos de la Ficha Técnica, cuando es Compra de *@
        @*                         Insumos Sanitarios</p> *@
        @*                 </div> *@
        @*             } *@
        @*         </div> *@
        @*         <div class="col-lg-3"> *@
        @*             <label class="fw-bold">Unidad</label> *@
        @*             <input type="text" @bind="RenglonForm.Unidad" class="form-control form-control-sm text-uppercase" *@
        @*                    id="RowUnidad"> *@
        @*         </div> *@
        @*         <div class="col-lg-2"> *@
        @*             <label class="fw-bold">Precio Unitario</label> *@
        @*             <input type="number" @bind="RenglonForm.PrecioUnitario" *@
        @*                    class="form-control form-control-sm text-uppercase" *@
        @*                    id="RowPrecioUnitario"> *@
        @*         </div> *@
        @*         <div class="col-lg-2"> *@
        @*             <label class="fw-bold" for="RowITBMS">¿I.T.B.M.S.?</label> *@
        @*             <div> *@
        @*                 <input type="checkbox" @bind="RenglonForm.ITBMS" class="form-check-input" id="RowITBMS"> *@
        @*                 <label class="form-check-label" for="RowITBMS">I.T.B.M.S.</label> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @*     <div class="mb-2"> *@
        @*         <label class="fw-bold">Descripción</label> *@
        @*         <textarea id="RowDescripcion" @bind="RenglonForm.Descripcion" rows="6" *@
        @*                   class="form-control form-control-sm text-uppercase text-uppercase"></textarea> *@
        @*     </div> *@
        @* </div> *@
        @* <div class="card-footer border-bottom"> *@
        @*     <button type="button" class="btn btn-primary text-white" @onclick="InsertItemSubmit"> *@
        @*         <i class="fa-solid fa-floppy-disk me-1"></i>Guardar Renglón *@
        @*     </button> *@
        @*     @if (RenglonEditing) *@
        @*     { *@
        @*         <button type="button" class="btn btn-danger text-white ms-2" @onclick="CancelEditRenglon"> *@
        @*             <i class="fa-solid fa-xmark me-1"></i> Cancelar Edición *@
        @*         </button> *@
        @*     } *@
        @* </div> *@
        @* <div class="card-body"> *@
        @*     @if (Renglones == null || Renglones.Count == 0) *@
        @*     { *@
        @*         <h3 class="fw-bold my-3"><i class="fa-regular fa-folder-open me-1"></i>Sin registros</h3> *@
        @*     } *@
        @*     else *@
        @*     { *@
        @*         int row = 1; *@
        @*         <div class="table-responsive" style="max-height: 350px; overflow-y: auto;"> *@
        @*             <table class="table table-sm table-bordered"> *@
        @*                 <thead> *@
        @*                 <tr> *@
        @*                     <th class="fw-bold text-center">#</th> *@
        @*                     <th class="fw-bold text-center">Cantidad</th> *@
        @*                     <th class="fw-bold text-center">Código</th> *@
        @*                     <th class="fw-bold text-center">Unidad</th> *@
        @*                     <th class="fw-bold text-center">Descripción</th> *@
        @*                     <th class="fw-bold text-center">Precio Unitario</th> *@
        @*                     <th class="fw-bold text-center">Sub Total</th> *@
        @*                     <th class="fw-bold text-center">I.T.B.M.S.</th> *@
        @*                     <th class="fw-bold text-center">Precio Total</th> *@
        @*                     <th class="fw-bold text-center">Acciones</th> *@
        @*                 </tr> *@
        @*                 </thead> *@
        @*                 <tbody> *@
        @*                 @foreach (var item in Renglones.Where(x => x.ShowRow == true)) *@
        @*                 { *@
        @*                     <tr> *@
        @*                         <td class="text-center">@row</td> *@
        @*                         <td class="text-end">@item.Cantidad</td> *@
        @*                         <td>@item.Codigo</td> *@
        @*                         <td>@item.Unidad</td> *@
        @*                         <td class="" style="white-space: pre-wrap;">@item.Descripcion</td> *@
        @*                         <td class="text-end">@item.PrecioUnitario.ToString("#,##0.00##")</td> *@
        @*                         <td class="text-end">@item.ValorSubTotal.ToString("#,##0.00##")</td> *@
        @*                         <td class="text-center">@(item.ITBMS ? "SI" : "NO")</td> *@
        @*                         <td class="text-end">@item.ValorTotal.ToString("#,##0.00##")</td> *@
        @*                         <td class="text-center"> *@
        @*                             <div class="btn-group" role="group" aria-label="acciones"> *@
        @*                                 <button type="button" class="btn btn-light" *@
        @*                                         @onclick="() => EditRenglon(item.TempId)"> *@
        @*                                     <Tooltip Title="Editar Renglón"> *@
        @*                                         <i class="fa-solid fa-pen-to-square text-primary"></i> *@
        @*                                     </Tooltip> *@
        @*                                 </button> *@
        @*                                 <button type="button" class="btn btn-light" *@
        @*                                         @onclick="() => DeleteRenglon(item.TempId)"> *@
        @*                                     <Tooltip Title="Eliminar Renglón"> *@
        @*                                         <i class="fa-solid fa-trash text-danger"></i> *@
        @*                                     </Tooltip> *@
        @*                                 </button> *@
        @*                             </div> *@
        @*                         </td> *@
        @*                     </tr> *@
        @*                     row++; *@
        @*                 } *@
        @*                 </tbody> *@
        @*             </table> *@
        @*         </div> *@
        @*     } *@
        @* </div> *@
            
            <!-- Concentracion -->
            <h3>Concentración</h3>
            <InputRadioGroup @bind-Value="productoPaciente.ConcentracionEnum" class="d-flex gap-3">
                <div class="form-check">
                    <InputRadio class="form-check-input" Value="ConcentracionE.CBD" id="CBD"/>
                    <label class="form-check-label" for="CBD">CBD</label>
                </div>
                <div class="form-check">
                    <InputRadio class="form-check-input" Value="ConcentracionE.THC" id="THC"/>
                    <label class="form-check-label" for="THC">THC</label>
                </div>
                <div class="form-check">
                    <InputRadio class="form-check-input" Value="ConcentracionE.otra" id="Otro"/>
                    <label class="form-check-label" for="Otro">Otro</label>
                </div>
            </InputRadioGroup>
                @if(productoPaciente.ConcentracionEnum == ConcentracionE.otra){
                    <div class="mt-2">
                        <label for="cedula">Especifique</label>
                        <InputText id="cedula" class="form-control" @bind-Value="productoPaciente.Concentracion"/>
                        <ValidationMessage For="@(() => productoPaciente.Concentracion)"/>
                    </div>
                }
                <InputNumber type="number" class="form-control mt-2" @bind-Value="productoPaciente.CantidadConcentracion" placeholder="Ingrese la cantidad"/>
                <ValidationMessage For="@(() => productoPaciente.CantidadConcentracion)"/>
                <label class="mb-0">Seleccione Unidad de Concentracion</label>

            <!-- Select principal -->
            <div class="mb-3">
                <label for="unidadSelect" class="form-label">Unidad</label>
                <select id="unidadSelect"
                        class="form-select"
                        @bind="unidadSeleccionadaId">
                    <option value="">-- Seleccione una unidad --</option>

                    @foreach (var row in productoUnidadList.Where(p => p.Id != 0))
                    {
                        <option value="@row.Id">@row.ProductoUnidad</option>
                    }

                    <option value="0">Otra(s) unidad, especifique</option>
                </select>
            </div>

            <!-- Campo de texto solo si seleccionó "Otro" -->
            @if (unidadSeleccionadaId == 0)
            {
                <div class="mb-3">
                    <label for="otraUnidad" class="form-label">Describa otra unidad</label>
                    <InputText id="otraUnidad"
                               class="form-control"
                               placeholder="Escriba la unidad"
                               @bind-Value="unidadOtraTexto" />
                    <ValidationMessage For="() => unidadOtraTexto"/>
                </div>
            }
            <!-- via administracion -->
            <h3 class="mb-0">Seleccione Vía de administración:</h3>
            <hr/>
            @foreach (var row in productoViaConsumoList)
            {
                <div class="form-check mb-2">
                    <input class="form-check-input"
                           type="checkbox"
                           id="diag_@row.Id"
                           @bind="row.IsSelectedConsumo"/>

                    @if (row.Id == 0)
                    {
                        <!-- “Otro” va con checkbox + input juntos -->
                        <label class="form-check-label me-2" for="diag_0">
                            Otro diagnóstico:
                        </label>
                        <InputText @bind-Value="row.ViaConsumoProducto"
                                   placeholder="Describa otro…"
                                   class="form-control form-control-sm d-inline-block"
                                   style="width: auto;"
                                   disabled="@(!row.IsSelectedConsumo)"/>
                        <ValidationMessage For="() => row.ViaConsumoProducto"/>
                    }
                    else
                    {
                        <!-- Diagnóstico estático: label dentro del form-check -->
                        <label class="form-check-label" for="diag_@row.Id">
                            @row.ViaConsumoProducto
                        </label>
                    }
                </div>
            }

            <!-- Dosis -->
            <h3 class="mb-0">Dosis:(Ejemplo: 3 gotas, 2 cápsulas, 4 puff…)</h3>
            <InputText @bind-Value="productoPaciente.DetDosisPaciente"/>
            
            <label>¿Cuántas veces al día utiliza el medicamento y durante cuánto tiempo al mes?</label>
            <input type="hidden" name="UsaDosisRescateEnum" @bind="productoPaciente.DuracionTratamientoEnum"/>

            <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       id="chkveces"
                       checked="@(productoPaciente.DuracionTratamientoEnum == DuracionTratamientoE.veces)"
                       @onchange="() => productoPaciente.DuracionTratamientoEnum = DuracionTratamientoE.veces"/>
                <label class="form-check-label" for="chkveces">veces al día (Responder un número del 1 al 6)</label>
            </div>
            <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       id="chkdias"
                       checked="@(productoPaciente.DuracionTratamientoEnum == DuracionTratamientoE.dias)"
                       @onchange="() => productoPaciente.DuracionTratamientoEnum = DuracionTratamientoE.dias"/>
                <label class="form-check-label" for="chkdias">días al mes  (Responder un número del  1 al 31)</label>
            </div>
            
            <!-- dosis rescate -->
            <label>¿Utiliza dosis de rescate?</label>
            <input type="hidden" name="UsaDosisRescateEnum" @bind="productoPaciente.UsaDosisRescateEnum"/>

            <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       id="chkSi"
                       checked="@(productoPaciente.UsaDosisRescateEnum == UsaDosisRescate.Si)"
                       @onchange="() => productoPaciente.UsaDosisRescateEnum = UsaDosisRescate.Si"/>
                <label class="form-check-label" for="chkSi">Si</label>
            </div>
            <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       id="chkNo"
                       checked="@(productoPaciente.UsaDosisRescateEnum == UsaDosisRescate.No)"
                       @onchange="() => productoPaciente.UsaDosisRescateEnum = UsaDosisRescate.No"/>
                <label class="form-check-label" for="chkNo">No</label>
            </div>
            
            <!-- Cormobilidades del paciente -->
            <div class="form-check mb-3">
                <input type="checkbox"
                       class="form-check-input"
                       id="chkComorbilidad"
                       @bind="tieneComorbilidad"/>
                <label class="form-check-label" for="chkComorbilidad">
                    ¿Tiene alguna comorbilidad?
                </label>
            </div>
            
            @if (tieneComorbilidad)
            {
                <div class="mb-3">
                    <label class="form-label">Nombre de diagnostico:</label>
                    <InputText @bind-Value="pacienteComorbilidad.NombreDiagnostico" class="form-control"/>
                    <ValidationMessage For="@(() => pacienteComorbilidad.NombreDiagnostico)"/>
                </div>
            
                <div class="mb-3">
                    <label class="form-label">Tratamientos</label>
                    <InputTextArea @bind-Value="pacienteComorbilidad.DetalleTratamiento" class="form-control"/>
                </div>
            }

            <!-- Botón para enviar la solicitud -->

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
            </div>
        </div>
    </div>
</EditForm>
