@* @page "/registro" *@
@* @inject IPacienteService PacienteService *@
@* @inject NavigationManager NavManager *@
@* *@
@* <h3>Formulario de Registro de Paciente Usuario de Cannabis Medicinal</h3> *@
@* *@
@* <EditForm Model="@_model" OnValidSubmit="@HandleValidSubmit"> *@
@*     <DataAnnotationsValidator /> *@
@*     <ValidationSummary /> *@
@* *@
@*     <!-- DATOS PERSONALES DEL PACIENTE --> *@
@*     <h5>1. Datos Personales del Paciente</h5> *@
@*     <div class="row mb-3"> *@
@*         <div class="col-md-6"> *@
@*             <label>Nombre completo:</label> *@
@*             <InputText @bind-Value="_model.NombreCompleto" class="form-control" /> *@
@*             <ValidationMessage For="@(() => _model.NombreCompleto)" /> *@
@*         </div> *@
@*         <div class="col-md-3"> *@
@*             <label>Tipo de documento:</label> *@
@*             <InputSelect @bind-Value="_model.TipoDocumento" class="form-control"> *@
@*                 <option value="">Seleccionar</option> *@
@*                 <option value="Cédula">Cédula</option> *@
@*                 <option value="Pasaporte">Pasaporte</option> *@
@*             </InputSelect> *@
@*             <ValidationMessage For="@(() => _model.TipoDocumento)" /> *@
@*         </div> *@
@*         <div class="col-md-3"> *@
@*             <label>Número de documento:</label> *@
@*             <InputText @bind-Value="_model.NumeroDocumento" class="form-control" /> *@
@*             <ValidationMessage For="@(() => _model.NumeroDocumento)" /> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <div class="row mb-3"> *@
@*         <div class="col-md-3"> *@
@*             <label>Nacionalidad:</label> *@
@*             <InputText @bind-Value="_model.Nacionalidad" class="form-control" /> *@
@*             <ValidationMessage For="@(() => _model.Nacionalidad)" /> *@
@*         </div> *@
@*         <div class="col-md-3"> *@
@*             <label>Fecha de nacimiento:</label> *@
@*             <InputDate @bind-Value="_model.FechaNacimiento" class="form-control" /> *@
@*             <ValidationMessage For="@(() => _model.FechaNacimiento)" /> *@
@*         </div> *@
@*         <div class="col-md-3"> *@
@*             <label>Sexo:</label> *@
@*             <InputSelect @bind-Value="_model.Sexo" class="form-control"> *@
@*                 <option value="">Seleccionar</option> *@
@*                 <option value="Femenino">Femenino</option> *@
@*                 <option value="Masculino">Masculino</option> *@
@*             </InputSelect> *@
@*             <ValidationMessage For="@(() => _model.Sexo)" /> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <div class="row mb-3"> *@
@*         <div class="col-md-12"> *@
@*             <label>Dirección de residencia:</label> *@
@*             <InputText @bind-Value="_model.DireccionResidencia" class="form-control" /> *@
@*             <ValidationMessage For="@(() => _model.DireccionResidencia)" /> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <div class="row mb-3"> *@
@*         <div class="col-md-3"> *@
@*             <label>Teléfono residencial:</label> *@
@*             <InputText @bind-Value="_model.TelefonoResidencial" class="form-control" /> *@
@*         </div> *@
@*         <div class="col-md-3"> *@
@*             <label>Teléfono personal:</label> *@
@*             <InputText @bind-Value="_model.TelefonoPersonal" class="form-control" /> *@
@*         </div> *@
@*         <div class="col-md-3"> *@
@*             <label>Teléfono laboral:</label> *@
@*             <InputText @bind-Value="_model.TelefonoLaboral" class="form-control" /> *@
@*         </div> *@
@*         <div class="col-md-3"> *@
@*             <label>Correo electrónico:</label> *@
@*             <InputText @bind-Value="_model.CorreoElectronico" class="form-control" /> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <div class="row mb-3"> *@
@*         <div class="col-md-6"> *@
@*             <label>Instalación de salud donde es atendido:</label> *@
@*             <InputText @bind-Value="_model.InstalacionSalud" class="form-control" /> *@
@*             <ValidationMessage For="@(() => _model.InstalacionSalud)" /> *@
@*         </div> *@
@*         <div class="col-md-6"> *@
@*             <label>Región de salud:</label> *@
@*             <InputText @bind-Value="_model.RegionSalud" class="form-control" /> *@
@*             <ValidationMessage For="@(() => _model.RegionSalud)" /> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <!-- REQUIERE ACOMPAÑANTE --> *@
@*     <div class="mb-3 form-check"> *@
@*         <InputCheckbox @bind-Value="_model.RequiereAcompanante" /> *@
@*         <label class="form-check-label">¿Requiere acompañante autorizado?</label> *@
@*     </div> *@
@* *@
@*     @if (_model.RequiereAcompanante) *@
@*     { *@
@*         <div class="mb-3 form-check"> *@
@*             <InputCheckbox @bind-Value="_model.Acompanante.EsPacienteMenorEdad" /> *@
@*             <label class="form-check-label">Paciente menor de edad</label> *@
@*         </div> *@
@*         <div class="mb-3 form-check"> *@
@*             <InputCheckbox @bind-Value="_model.Acompanante.EsPacienteMayorDiscapacidad" /> *@
@*             <label class="form-check-label">Paciente mayor de edad con discapacidad física o mental</label> *@
@*         </div> *@
@* *@
@*         <h5>Datos del Acompañante Autorizado</h5> *@
@*         <div class="row mb-3"> *@
@*             <div class="col-md-6"> *@
@*                 <label>Nombre completo:</label> *@
@*                 <InputText @bind-Value="_model.Acompanante.NombreCompleto" class="form-control" /> *@
@*             </div> *@
@*             <div class="col-md-3"> *@
@*                 <label>Tipo de documento:</label> *@
@*                 <InputSelect @bind-Value="_model.Acompanante.TipoDocumento" class="form-control"> *@
@*                     <option value="">Seleccionar</option> *@
@*                     <option value="Cédula">Cédula</option> *@
@*                     <option value="Pasaporte">Pasaporte</option> *@
@*                 </InputSelect> *@
@*             </div> *@
@*             <div class="col-md-3"> *@
@*                 <label>Número del documento:</label> *@
@*                 <InputText @bind-Value="_model.Acompanante.NumeroDocumento" class="form-control" /> *@
@*             </div> *@
@*         </div> *@
@* *@
@*         <div class="row mb-3"> *@
@*             <div class="col-md-6"> *@
@*                 <label>Nacionalidad:</label> *@
@*                 <InputText @bind-Value="_model.Acompanante.Nacionalidad" class="form-control" /> *@
@*             </div> *@
@*             <div class="col-md-6"> *@
@*                 <label>Parentesco:</label> *@
@*                 <InputSelect @bind-Value="_model.Acompanante.Parentesco" class="form-control"> *@
@*                     <option value="">Seleccionar</option> *@
@*                     <option value="Madre">Madre</option> *@
@*                     <option value="Padre">Padre</option> *@
@*                     <option value="Tutor">Tutor</option> *@
@*                 </InputSelect> *@
@*             </div> *@
@*         </div> *@
@*     } *@
@* *@
@*     <!-- DATOS DEL MÉDICO TRATANTE --> *@
@*     <h5>3. Datos del Médico Tratante</h5> *@
@*     <div class="row mb-3"> *@
@*         <div class="col-md-6"> *@
@*             <label>Nombre completo:</label> *@
@*             <InputText @bind-Value="_model.Medico.NombreCompleto" class="form-control" /> *@
@*         </div> *@
@*         <div class="col-md-3"> *@
@*             <label>Disciplina:</label> *@
@*             <InputSelect @bind-Value="_model.Medico.Especialidad" class="form-control"> *@
@*                 <option value="">Seleccionar</option> *@
@*                 <option value="Médico general">Médico General</option> *@
@*                 <option value="Odontólogo">Odontólogo</option> *@
@*                 <option value="Especialista">Especialista</option> *@
@*             </InputSelect> *@
@*         </div> *@
@*         <div class="col-md-3"> *@
@*             <label>Número de registro de idoneidad:</label> *@
@*             <InputText @bind-Value="_model.Medico.RegistroIdoneidad" class="form-control" /> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <div class="row mb-3"> *@
@*         <div class="col-md-6"> *@
@*             <label>Número de teléfono:</label> *@
@*             <InputText @bind-Value="_model.Medico.NumeroTelefono" class="form-control" /> *@
@*         </div> *@
@*         <div class="col-md-6"> *@
@*             <label>Instalación de salud:</label> *@
@*             <InputText @bind-Value="_model.Medico.InstalacionSalud" class="form-control" /> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <!-- Diagnósticos --> *@
@*         <h5>4. Diagnóstico(s)</h5> *@
@*         <div class="row mb-3"> *@
@*             <div class="col-md-12"> *@
@*                 @foreach (var diag in _diagnosticos) *@
@*                 { *@
@*                     <div class="form-check"> *@
@*                         <InputCheckbox @onchange="() => ToggleDiagnostico(diag)" checked="@IsSelected(diag.Nombre)" /> *@
@*                         <label class="form-check-label">@diag.Nombre - @diag.CodigoCIE10</label> *@
@*                     </div> *@
@*                 } *@
@* *@
@*                 <div class="mt-3"> *@
@*                     <label>Otro diagnóstico:</label> *@
@*                     <InputText @bind-Value="_otroDiagnostico" class="form-control" /> *@
@*                     <button @onclick="AgregarOtroDiagnostico" type="button" class="btn btn-sm btn-secondary mt-2">Agregar</button> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@* *@
@*         <!-- Otras enfermedades --> *@
@*         <h5>5. Otras enfermedades que padece el paciente</h5> *@
@*         <div class="row mb-3"> *@
@*             <div class="col-md-12"> *@
@*                 <label>Diagnóstico:</label> *@
@*                 <InputText @bind-Value="_otroDiagnostico.Diagnostico" class="form-control" /> *@
@*             </div> *@
@*         </div> *@
@*         <div class="row mb-3"> *@
@*             <div class="col-md-12"> *@
@*                 <label>Tratamiento recibido:</label> *@
@*                 <InputText @bind-Value="_otroDiagnostico.Tratamiento" class="form-control" /> *@
@*             </div> *@
@*         </div> *@
@* *@
@*         <!-- Tratamiento con cannabis --> *@
@*         <h5>6. Tratamiento con Cannabis Medicinal</h5> *@
@*         <!-- Tus campos de tratamiento aquí --> *@
@* *@
@*         <!-- Botón de envío --> *@
@*         <button type="submit" class="btn btn-primary mt-3">Enviar Solicitud</button> *@
@*     </EditForm> *@
@* } *@
@* *@
@* @code { *@
@*     private PacienteRegistroDTO _model = new(); *@
@*     private List<DiagnosticoSeleccionadoDTO> _diagnosticos; *@
@*     private string _otroDiagnostico = ""; *@
@*      *@
@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*         _diagnosticos = await DiagnosticoService.GetAllAsync(); *@
@* *@
@*         // Inicialización del modelo *@
@*         _model = new() *@
@*         { *@
@*             Medico = new MedicoDTO(), *@
@*             Acompanante = new AcompananteDTO(), *@
@*             Diagnosticos = new List<DiagnosticoSeleccionadoDTO>(), *@
@*             OtrasEnfermedades = new OtrasEnfermedadesDTO(), *@
@*             Tratamiento = new TratamientoDTO() *@
@*         }; *@
@*     } *@
@* *@
@*     private HashSet<string> _diagnosticosSeleccionados = new(); *@
@* *@
@*     private bool IsSelected(string nombre) => _diagnosticosSeleccionados.Contains(nombre); *@
@* *@
@*     private void ToggleDiagnostico(DiagnosticoSeleccionadoDTO diag) *@
@*     { *@
@*         if (IsSelected(diag.Nombre)) *@
@*             _diagnosticosSeleccionados.Remove(diag.Nombre); *@
@*         else *@
@*             _diagnosticosSeleccionados.Add(diag.Nombre); *@
@* *@
@*         _model.Diagnosticos = _diagnosticosSeleccionados *@
@*             .Select(n => new DiagnosticoSeleccionadoDTO { Nombre = n }) *@
@*             .ToList(); *@
@*     } *@
@* *@
@*     private void AgregarOtroDiagnostico() *@
@*     { *@
@*         if (!string.IsNullOrWhiteSpace(_otroDiagnostico)) *@
@*         { *@
@*             _diagnosticosSeleccionados.Add(_otroDiagnostico); *@
@*             _model.Diagnosticos = _diagnosticosSeleccionados *@
@*                 .Select(n => new DiagnosticoSeleccionadoDTO { Nombre = n }) *@
@*                 .ToList(); *@
@*             _otroDiagnostico = ""; *@
@*         } *@
@*     } *@
@* *@
@*     private async Task HandleValidSubmit() *@
@*     { *@
@*         try *@
@*         { *@
@*             await PacienteService.CreateAsync(_model); *@
@*             NavManager.NavigateTo("/confirmacion"); *@
@*         } *@
@*         catch (Exception ex) *@
@*         { *@
@*             Console.Error.WriteLine($"Error al registrar paciente: {ex.Message}"); *@
@*         } *@
@*     } *@
@* } *@