@page "/registro-paciente"
@using DIGESA.Models.CannabisModels

<EditForm EditContext="@editContext" OnValidSubmit="RegisterForm">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="container-fluid my-4">
    <div class="card shadow-sm h-100">
        <div class="row g-0 h-100">
        <!-- Sidebar -->
        <div class="col-md-3 bg-light border-end p-4 position-sticky top-0">
            <h5 class="fw-bold mb-4">
                Formulario de Usuarios de Cannabis Medicinal y Acompañantes
            </h5>

            <!-- Progreso -->
            <div class="mb-5">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <small class="text-uppercase fw-bold text-muted">Progreso</small>
                    <small class="fw-bold">@currentStep%</small>
                </div>
                <div class="progress" style="height:6px;">
                    <div class="progress-bar bg-success"
                         role="progressbar"
                         style="width:@(currentStep)%"
                         aria-valuenow="@currentStep"
                         aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>

            <!-- Steps -->
            <nav class="nav flex-column small">
                @for (var i = 1; i <= steps.Count; i++)
                {
                    <a class="nav-link d-flex align-items-center mb-3 p-2 rounded @(i == currentStepNumber ? "fw-bold text-dark bg-white" : "text-muted")"
                       href="#step@i">
                        <span class="me-3">@i.</span>
                        @steps[i-1]
                    </a>
                }
            </nav>
        </div>

        <!-- Contenido Principal -->
        <div class="col-md-9 p-4">
            <div id="step@currentStepNumber" class="mb-4">
                @if (currentStepNumber == 1)
                {
                    <!-- DATOS DE USUARIO -->
                    <div class="row g-3">
                        <!-- Nombres y apellidos -->
                        <div class="card px-0 mb-1">
                            <div class="card-header custom-card-header2 fw-bold">Datos del solicitante</div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-sm-3">
                                        <label class="form-label">Primer Nombre</label>
                                        <InputText class="form-control" @bind-Value="registro.paciente.PrimerNombre"/>
                                        <ValidationMessage For="@(() => registro.paciente.PrimerNombre)"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Segundo Nombre</label>
                                        <InputText class="form-control" @bind-Value="registro.paciente.SegundoNombre"/>
                                        <ValidationMessage For="@(() => registro.paciente.SegundoNombre)"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Primer Apellido</label>
                                        <InputText class="form-control" @bind-Value="registro.paciente.PrimerApellido"/>
                                        <ValidationMessage For="@(() => registro.paciente.PrimerApellido)"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Segundo Apellido</label>
                                        <InputText class="form-control" @bind-Value="registro.paciente.SegundoApellido"/>
                                        <ValidationMessage For="@(() => registro.paciente.SegundoApellido)"/>
                                    </div>

                                    <!-- Tipo de documento -->
                                    <div class="col-3">
                                        <label class="form-label">Tipo de Documento</label>
                                        <div class="d-flex gap-4">
                                            <InputRadioGroup @bind-Value="@registro.paciente.TipoDocumentoPacienteEnum">
                                                    <div class="form-check">
                                                        <InputRadio class="form-check-input" Value="TipoDocumentoPaciente.Cedula" id="Cedula"/>
                                                        <label class="form-check-label" for="Cedula">Cédula</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <InputRadio class="form-check-input" Value="TipoDocumentoPaciente.Pasaporte" id="Pasaporte"/>
                                                        <label class="form-check-label" for="Pasaporte">Pasaporte</label>
                                                    </div>
                                            </InputRadioGroup> 
                                        </div>
                                    </div>

                                    <!-- Número de documento -->
                                    @if (registro.paciente.TipoDocumentoPacienteEnum == TipoDocumentoPaciente.Cedula)
                                    {
                                        <div class="col-md-3">
                                            <label class="form-label" for="cedula">Número de Cédula</label>
                                            <InputText id="cedula" class="form-control" @bind-Value="registro.paciente.NumDocCedula"/>
                                            <ValidationMessage For="@(() => registro.paciente.NumDocCedula)"/>
                                        </div>
                                    }
                                    else if (registro.paciente.TipoDocumentoPacienteEnum == TipoDocumentoPaciente.Pasaporte)
                                    {
                                        <div class="col-md-3">
                                            <label class="form-label" for="pasaporte">Número de Pasaporte</label>
                                            <InputText id="pasaporte" class="form-control" @bind-Value="registro.paciente.NumDocPasaporte"/>
                                            <ValidationMessage For="@(() => registro.paciente.NumDocPasaporte)"/>
                                        </div>
                                    }

                                    <!-- Nacionalidad y fecha -->
                                    <div class="col-sm-3">
                                        <label class="form-label">Nacionalidad</label>
                                        <InputText class="form-control" @bind-Value="registro.paciente.Nacionalidad"/>
                                        <ValidationMessage For="@(() => registro.paciente.Nacionalidad)"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Fecha de Nacimiento</label>
                                        <InputDate class="form-control" @bind-Value="registro.paciente.FechaNacimiento"/>
                                        <ValidationMessage For="@(() => registro.paciente.FechaNacimiento)"/>
                                    </div>

                                    <!-- Sexo -->
                                    <div class="col-3">
                                        <label class="form-label d-block">Sexo</label>
                                        <div class="d-flex gap-4">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input"
                                                       id="sexoMasculino"
                                                       checked="@(registro.paciente.SexoEnum == Sexo.Masculino)"
                                                       @onchange="() => registro.paciente.SexoEnum = Sexo.Masculino"/>
                                                <label class="form-check-label" for="sexoMasculino">Masculino</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input"
                                                       id="sexoFemenino"
                                                       checked="@(registro.paciente.SexoEnum == Sexo.Femenino)"
                                                       @onchange="() => registro.paciente.SexoEnum = Sexo.Femenino"/>
                                                <label class="form-check-label" for="sexoFemenino">Femenino</label>
                                            </div>
                                        </div>
                                        <ValidationMessage For="@(() => registro.paciente.SexoEnum)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card px-0 mb-1">
                            <div class="card-header custom-card-header2 fw-bold">Datos de contacto del solicitante</div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <!-- Contacto -->
                                    <div class="col-sm-3">
                                        <label class="form-label">Teléfono Personal</label>
                                        <InputText class="form-control" @bind-Value="registro.paciente.TelefonoPersonal" />
                                        <ValidationMessage For="@(() => registro.paciente.TelefonoPersonal)" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Teléfono Residencia</label>
                                        <InputText class="form-control" @bind-Value="registro.paciente.TelefonoResidencial" />
                                        <ValidationMessage For="@(() => registro.paciente.TelefonoResidencial)" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Teléfono Laboral</label>
                                        <InputText class="form-control" @bind-Value="registro.paciente.TelefonoLaboral" />
                                        <ValidationMessage For="@(() => registro.paciente.TelefonoLaboral)" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Correo Electrónico</label>
                                        <InputText class="form-control" @bind-Value="registro.paciente.CorreoElectronico" />
                                        <ValidationMessage For="@(() => registro.paciente.CorreoElectronico)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card px-0 mb-1">
                            <div class="card-header custom-card-header2 fw-bold">Datos de residencia y lugar de atención del solicitante</div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <!-- DIRECCION DE USUARIO -->
                                    <div class="col-sm-3">
                                        <label class="form-label">Provincia</label>
                                        <InputSelect TValue="int?" class="form-select"
                                                     Value="@registro.paciente.pacienteProvinciaId"
                                                     ValueChanged="@(async (int? ProvinciaId) => await pacienteProvinciaChanged(ProvinciaId ?? 0))"
                                                     ValueExpression="@(() => registro.paciente.pacienteProvinciaId)">
                                            <option value="">--Seleccione--</option>
                                            @foreach (var x in pacienteProvincicaslist)
                                            {
                                                <option value="@x.Id">@x.Name</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => registro.paciente.pacienteProvinciaId)" class="text-danger"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Distrito</label>
                                        <InputSelect TValue="int?" class="form-select"
                                                     Value="@registro.paciente.pacienteDistritoId"
                                                     ValueChanged="@(async (int? DistritoId) => await pacienteDistritoChanged(DistritoId ?? 0))"
                                                     ValueExpression="@(() => registro.paciente.pacienteDistritoId)">
                                            <option value="">--Seleccione--</option>
                                            @foreach (var x in pacienteDistritolist)
                                            {
                                                <option value="@x.Id">@x.Name</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => registro.paciente.pacienteDistritoId)" class="text-danger"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Corregimiento</label>
                                        <InputSelect TValue="int?" class="form-select"
                                                     @bind-Value="@registro.paciente.pacienteCorregimientoId">
                                            <option value="">--Seleccione--</option>
                                            @foreach (var x in pacienteCorregimientolist)
                                            {
                                                <option value="@x.Id">@x.Name</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => registro.paciente.pacienteCorregimientoId)" class="text-danger"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Region de salud</label>
                                        <InputSelect TValue="int?" class="form-select"
                                                     @bind-Value="@registro.paciente.pacienteRegionId">
                                            <option value="">--Seleccione--</option>
                                            @foreach (var x in pacienteRegioneslist)
                                            {
                                                <option value="@x.Id">@x.Name</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => registro.paciente.pacienteRegionId)" class="text-danger"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label">Dirección</label>
                                        <InputTextArea @bind-Value="registro.paciente.DireccionExacta" class="form-control"/>
                                        <ValidationMessage For="@(() => registro.paciente.DireccionExacta)"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label">Instalación de salud donde es atendido</label>
                                        <AutoComplete @bind-Value="instalacionFilterPaciente"
                                                      TItem="ListModel"
                                                      DataProvider="AutoCompleteDataProvider"
                                                      OnChanged="OnAutoCompletePacienteChanged"
                                                      PropertyName="Name"
                                                      class="form-control"
                                                      Placeholder="Busque por instalación de salud"/>
                                        <ValidationMessage For="@(() => registro.paciente.pacienteInstalacionId)" class="text-danger"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <label class="form-label">¿Requiere acompañante autorizado?</label>
                            <div class="d-flex gap-4">
                                <InputRadioGroup @bind-Value="registro.paciente.RequiereAcompanante"
                                                 @bind-Value:after="OnRequiereAcompananteChanged">
                                    <div class="form-check form-check-inline">
                                        <InputRadio class="form-check-input" Value="RequiereAcompanante.Si" id="reqSi"/>
                                        <label class="form-check-label" for="reqSi">Sí</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <InputRadio class="form-check-input" Value="RequiereAcompanante.No" id="reqNo"/>
                                        <label class="form-check-label" for="reqNo">No</label>
                                    </div>
                                </InputRadioGroup>
                                <ValidationMessage For="@(() => registro.paciente.RequiereAcompanante)"/>
                            </div>
                        </div>

                        @if (registro.paciente.RequiereAcompanante == RequiereAcompanante.Si)
                        {
                            <div class="col-12">
                                <label class="form-label">Especifique el motivo</label>
                                <div class="d-flex gap-4">
                                    <InputRadioGroup @bind-Value="registro.paciente.MotivoRequerimientoAcompanante">
                                        <div class="form-check form-check-inline">
                                            <InputRadio class="form-check-input"
                                                        Value="@MotivoRequerimientoAcompanante.PacienteDiscapacidad"
                                                        id="motivoDiscapacidad"/>
                                            <label class="form-check-label" for="motivoDiscapacidad">Mayor de edad con discapacidad</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <InputRadio class="form-check-input"
                                                        Value="@MotivoRequerimientoAcompanante.PacienteMenorEdad"
                                                        id="motivoMenorEdad"/>
                                            <label class="form-check-label" for="motivoMenorEdad">Menor de edad</label>
                                        </div>
                                    </InputRadioGroup>
                                    <ValidationMessage For="@(() => registro.paciente.MotivoRequerimientoAcompanante)"/>
                                </div>
                            </div>

                            @if (registro.paciente.MotivoRequerimientoAcompanante == MotivoRequerimientoAcompanante.PacienteDiscapacidad)
                            {
                                <div class="col-sm-6">
                                    <label for="TipoDiscapacidad" class="form-label">Especifique la discapacidad</label>
                                    <InputText id="TipoDiscapacidad"
                                               class="form-control"
                                               @bind-Value="registro.paciente.TipoDiscapacidad"/>
                                    <ValidationMessage For="@(() => registro.paciente.TipoDiscapacidad)"/>
                                </div>
                            }
                        }
                    </div>
                }
                else
                {
                    @if (currentStepNumber == 2)
                    {
                        @if (registro.paciente.RequiereAcompanante == RequiereAcompanante.Si)
                        {
                            <!-- DATOS DEL ACOMPANANTE -->
                            <div class="card px-0 mb-1">
                                <div class="card-header custom-card-header2 fw-bold">Datos del Acompañante Autorizado</div>
                                <div class="card-body">
                                    <div class="row g-3">
                                            <div class="col-sm-3">
                                                <label>Primer Nombre</label>
                                                <InputText @bind-Value="registro.acompanante.PrimerNombre" class="form-control"/>
                                                <ValidationMessage For="@(() => registro.acompanante.PrimerNombre)"/>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Segundo Nombre</label>
                                                <InputText @bind-Value="registro.acompanante.SegundoNombre" class="form-control"/>
                                                <ValidationMessage For="@(() => registro.acompanante.SegundoNombre)"/>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Primer Apellido</label>
                                                <InputText @bind-Value="registro.acompanante.PrimerApellido" class="form-control"/>
                                                <ValidationMessage For="@(() => registro.acompanante.PrimerApellido)"/>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Segundo Apellido</label>
                                                <InputText @bind-Value="registro.acompanante.SegundoApellido" class="form-control"/>
                                                <ValidationMessage For="@(() => registro.acompanante.SegundoApellido)"/>
                                            </div>
                                            <div class="col-3">
                                                <label>Tipo de Documento</label>
                                                <div class="d-flex gap-4">
                                                    <InputRadioGroup @bind-Value="registro.acompanante.TipoDocumentoAcompañanteEnum">
                                                        <div class="form-check">
                                                            <InputRadio class="form-check-input" Value="TipoDocumentoAcompañante.Cedula" id="Cedula"/>
                                                            <label class="form-check-label" for="Cedula">Cédula</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <InputRadio class="form-check-input" Value="TipoDocumentoAcompañante.Pasaporte" id="Pasaporte"/>
                                                            <label class="form-check-label" for="Pasaporte">Pasaporte</label>
                                                        </div>
                                                    </InputRadioGroup>
                                                </div>
                                            </div>
                                            @if (registro.acompanante.TipoDocumentoAcompañanteEnum == TipoDocumentoAcompañante.Cedula)
                                            {
                                                <div class="col-sm-3">
                                                    <label for="cedula">Número de Cédula</label>
                                                    <InputText id="cedula" class="form-control" @bind-Value="registro.acompanante.NumDocCedula"/>
                                                    <ValidationMessage For="@(() => registro.acompanante.NumDocCedula)"/>
                                                </div>
                                            }
                                            else if (registro.acompanante.TipoDocumentoAcompañanteEnum == TipoDocumentoAcompañante.Pasaporte)
                                            {
                                                <div class="col-sm-3">
                                                    <label for="pasaporte">Número de Pasaporte</label>
                                                    <InputText id="pasaporte" class="form-control" @bind-Value="registro.acompanante.NumDocPasaporte"/>
                                                    <ValidationMessage For="@(() => registro.acompanante.NumDocPasaporte)"/>
                                                </div>
                                            }
                                            <div class="col-sm-3">
                                                <label>Nacionalidad</label>
                                                <InputText @bind-Value="registro.acompanante.Nacionalidad" class="form-control"/>
                                                <ValidationMessage For="@(() => registro.acompanante.Nacionalidad)"/>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Parentesco</label>
                                                <InputText @bind-Value="registro.acompanante.Parentesco" class="form-control"/>
                                                <ValidationMessage For="@(() => registro.acompanante.Parentesco)"/>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else if (currentStepNumber == 3)
                    {
                        <div class="card px-0 mb-1">
                            <div class="card-header custom-card-header2 fw-bold">Datos del Medico que prescribe</div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <!-- DATOS DEL MEDICO -->
                                     <div class="col-sm-3">
                                        <label class="form-label">Primer Nombre</label>
                                        <InputText class="form-control" @bind-Value="registro.medico.PrimerNombre"/>
                                        <ValidationMessage For="@(() => registro.medico.PrimerNombre)"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Primer Apellido</label>
                                        <InputText class="form-control" @bind-Value="registro.medico.PrimerApellido"/>
                                        <ValidationMessage For="@(() => registro.medico.PrimerApellido)"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Número de registro de idoneidad</label>
                                        <InputText class="form-control" @bind-Value="registro.medico.MedicoIdoneidad"/>
                                        <ValidationMessage For="@(() => registro.medico.MedicoIdoneidad)"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Número de contacto del medico</label>
                                        <InputText class="form-control" @bind-Value="registro.medico.MedicoTelefono"/>
                                        <ValidationMessage For="@(() => registro.medico.MedicoTelefono)"/>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Disciplina del medico</label>
                                        <div class="d-flex gap-4">
                                            <InputRadioGroup @bind-Value="registro.medico.MedicoDisciplinaEnum" class="d-flex gap-3">
                                                <div class="form-check form-check-inline">
                                                    <InputRadio class="form-check-input"
                                                                Value="@MedicoDisciplina.General"
                                                                id="Especialidad"/>
                                                    <label class="form-check-label" for="Especialidad">General</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <InputRadio class="form-check-input"
                                                                Value="@MedicoDisciplina.Odontólogo"
                                                                id="Especialidad"/>
                                                    <label class="form-check-label" for="Especialidad">Odontólogo</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <InputRadio class="form-check-input"
                                                                Value="@MedicoDisciplina.Especialista"
                                                                id="Especialidad"/>
                                                    <label class="form-check-label" for="Especialidad">Especialista</label>
                                                </div>
                                            </InputRadioGroup>
                                            <ValidationMessage For="@(() => registro.medico.MedicoDisciplinaEnum)"/>
                                        </div>
                                        @if (registro.medico.MedicoDisciplinaEnum == MedicoDisciplina.Especialista)
                                        {
                                            <div class="mt-3">
                                                <label for="TipoDiscapacidad" class="form-label">Especifique</label>
                                                <InputText id="DetalleMedico"
                                                           class="form-control"
                                                           @bind-Value="registro.medico.DetalleMedico"/>
                                                <ValidationMessage For="@(() => registro.medico.DetalleMedico)"/>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-12 col-sm-6 mb-3">
                                        <label class="form-label">Instalación de salud donde labora el médico</label>
                                        <AutoComplete @bind-Value="instalacionFilterMedico"
                                                      TItem="ListModel"
                                                      DataProvider="AutoCompleteDataProvider"
                                                      OnChanged="OnAutoCompleteMedicoChanged"
                                                      PropertyName="Name"
                                                      class="form-control"
                                                      Placeholder="Busque por instalación de salud"/>
                                        <ValidationMessage For="@(() => registro.medico.MedicoInstalacion)" class="text-danger"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (currentStepNumber == 4)
                    {
                        <!-- Diagnostico -->
                        <div class="card px-0 mb-1">
                            <div class="card-header custom-card-header2 fw-bold">Datos de uso del cannabis medicinal o derivados</div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <label class="mb-2">Seleccione diagnóstico(s) que justifica el uso de cannabis medicinal y sus derivados</label>
                                        <div class="row">
                                            @foreach (var diag in pacienteDiagnosticolist)
                                            {
                                                <div class="col-6 col-sm-4 col-md-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input"
                                                               type="checkbox"
                                                               id="@($"diag_{diag.Id}")"
                                                               checked="@registro.pacienteDiagnostico.SelectedDiagnosticosIds.Contains(diag.Id)"
                                                               @onchange="e => DiagnosticoCheckboxChanged(e, registro.pacienteDiagnostico, diag.Id)" />
                                                        <label class="form-check-label" for="@($"diag_{diag.Id}")">@diag.Nombre</label>
                                                    </div>
                                                </div>
                                            }

                                            <!-- Otro -->
                                            <div class="col-12 col-md-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="diagOtro" @bind="registro.pacienteDiagnostico.IsOtroDiagSelected" />
                                                    <label for="diagOtro">Otro</label>
                                                </div>
                                                @if (registro.pacienteDiagnostico.IsOtroDiagSelected)
                                                {
                                                    <div class="mt-2 col-9">
                                                        <InputText class="form-control" placeholder="Especifique" @bind-Value="registro.pacienteDiagnostico.NombreOtroDiagnostico" />
                                                        <ValidationMessage For="@(() => registro.pacienteDiagnostico.NombreOtroDiagnostico)" />
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <ValidationMessage For="@(() => registro.pacienteDiagnostico.SelectedDiagnosticosIds)" />
                                    </div>
                                    <hr>
                                    <!-- Producto del paciente -->
                                    <div class="col-6">
                                        <label class="mb-2">Nombre Generico</label>
                                        <div class="d-flex gap-4">
                                            <InputRadioGroup @bind-Value="registro.productoPaciente.NombreProductoEnum" class="d-flex gap-3">
                                                <div class="form-check form-check-inline">
                                                    <InputRadio class="form-check-input" Value="NombreProductoE.CBD" id="CBD"/>
                                                    <label class="form-check-label" for="CBD">CBD (Cannabidiol)</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <InputRadio class="form-check-input" Value="NombreProductoE.THC" id="THC"/>
                                                    <label class="form-check-label" for="THC">THC (delta-9-tetrahidrocannabinol)</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <InputRadio class="form-check-input" Value="NombreProductoE.OTRO" id="Otro"/>
                                                    <label class="form-check-label" for="Otro">Otro</label>
                                                </div>
                                            </InputRadioGroup>
                                            <ValidationMessage For="@(() => registro.productoPaciente.NombreProducto)"/>
                                        </div>
                                        @if (registro.productoPaciente.NombreProductoEnum == NombreProductoE.OTRO)
                                        {
                                            <div class="mt-2 col-12">
                                                <InputText placeholder="Especifique" class="form-control" @bind-Value="registro.productoPaciente.NombreProducto"/>
                                                <ValidationMessage For="@(() => registro.productoPaciente.NombreProducto)"/>
                                            </div>
                                        }
                                    </div>
                                    
                                    <div class="col-12 col-sm-6">
                                        <label class="form-label">Nombre comercial</label>
                                        <InputText class="form-control" @bind-Value="registro.productoPaciente.NombreComercialProd"/>
                                        <ValidationMessage For="@(() => registro.productoPaciente.NombreComercialProd)"/>
                                    </div>
                                    <hr>
                                    <div class="col-12">
                                        <label class="mb-2">Seleccione Forma Farmacéutica</label>
                                        <div class="row">
                                            @foreach (var forma in productoFormaList)
                                            {
                                                <div class="col-6 col-sm-4 col-md-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input"
                                                               type="checkbox"
                                                               id="@($"forma_{forma.Id}")"
                                                               checked="@registro.productoPaciente.SelectedFormaIds.Contains(forma.Id)"
                                                               @onchange="e => FormaCheckboxChanged(e, registro.productoPaciente, forma.Id)"/>
                                                        <label class="form-check-label" for="@($"forma_{forma.Id}")">@forma.Nombre</label>
                                                    </div>
                                                </div>
                                            }

                                            <!-- Otro -->
                                            <div class="col-12 col-md-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="formaOtro" @bind="registro.productoPaciente.IsOtraFormaSelected"/>
                                                    <label for="formaOtro">Otro</label>
                                                </div>
                                                @if (registro.productoPaciente.IsOtraFormaSelected)
                                                {
                                                    <div class="mt-2 col-9">
                                                        <InputText class="form-control" placeholder="Especifique" @bind-Value="registro.productoPaciente.NombreOtraForma"/>
                                                        <ValidationMessage For="@(() => registro.productoPaciente.NombreOtraForma)"/>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <ValidationMessage For="@(() => registro.productoPaciente.SelectedFormaIds)"/>
                                    </div>
                                    <hr>
                                    <!-- Concentracion -->
                                    <div class="col-4">
                                        <label class="mb-2">Concentración</label>
                                        <div class="d-flex gap-4">
                                            <InputRadioGroup @bind-Value="registro.productoPaciente.ConcentracionEnum" class="d-flex gap-3">
                                                <div class="form-check form-check-inline">
                                                    <InputRadio class="form-check-input" Value="ConcentracionE.CBD" id="CBD"/>
                                                    <label class="form-check-label" for="CBD">CBD</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <InputRadio class="form-check-input" Value="ConcentracionE.THC" id="THC"/>
                                                    <label class="form-check-label" for="THC">THC</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <InputRadio class="form-check-input" Value="ConcentracionE.OTRO" id="Otro"/>
                                                    <label class="form-check-label" for="Otro">Otro(s) cannabinoide</label>
                                                </div>
                                            </InputRadioGroup>
                                            <ValidationMessage For="@(() => registro.productoPaciente.NombreConcentracion)"/>
                                        </div>
                                        @if (registro.productoPaciente.ConcentracionEnum == ConcentracionE.OTRO)
                                        {
                                            <div class="mt-2">
                                                <InputText placeholder="Especifique" class="form-control" @bind-Value="registro.productoPaciente.NombreConcentracion"/>
                                                <ValidationMessage For="@(() => registro.productoPaciente.NombreConcentracion)"/>
                                            </div>
                                        }
                                    </div>

                                    <div class="col-4 col-sm-4">
                                        <label>Cantidad</label>
                                        <InputNumber type="number" class="form-control mt-2" @bind-Value="registro.productoPaciente.CantidadConcentracion" placeholder="Ingrese la cantidad"/>
                                        <ValidationMessage For="@(() => registro.productoPaciente.CantidadConcentracion)"/>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="unidadSelect" class="form-label">Unidad</label>
                                        <select id="unidadSelect"
                                                class="form-select"
                                                @bind="unidadSeleccionadaId">
                                            <option value="">-- Seleccione una unidad --</option>

                                            @foreach (var row in productoUnidadList.Where(p => p.Id != 0))
                                            {
                                                <option value="@row.Id">@row.ProductoUnidad</option>
                                            }

                                            <option value="0">Otra unidad</option>
                                        </select>
                                    </div>
                                    @if (unidadSeleccionadaId == 0)
                                    {
                                        <div class="mb-3">
                                            <InputText id="otraUnidad"
                                                       class="form-control"
                                                       placeholder="especifique"
                                                       @bind-Value="unidadOtraTexto"/>
                                            <ValidationMessage For="() => unidadOtraTexto"/>
                                        </div>
                                    }
                                    <hr>
                                    <div class="col-12">
                                        <label class="mb-2">Seleccione vía de administración</label>
                                        <div class="row">
                                            @foreach (var via in productoViaConsumoList)
                                            {
                                                <div class="col-6 col-sm-4 col-md-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input"
                                                               type="checkbox"
                                                               id="@($"via_{via.Id}")"
                                                               checked="@registro.productoPaciente.SelectedViaAdmIds.Contains(via.Id)"
                                                               @onchange="e => ViaAdmCheckboxChanged(e, registro.productoPaciente, via.Id)"/>
                                                        <label class="form-check-label" for="@($"via_{via.Id}")">@via.Nombre</label>
                                                    </div>
                                                </div>
                                            }

                                            <!-- Otro -->
                                            <div class="col-12 col-md-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="viaOtro" @bind="registro.productoPaciente.IsOtraViaAdmSelected"/>
                                                    <label for="viaOtro">Otro</label>
                                                </div>
                                                @if (registro.productoPaciente.IsOtraViaAdmSelected)
                                                {
                                                    <div class="mt-2 col-9">
                                                        <InputText class="form-control" placeholder="Especifique" @bind-Value="registro.productoPaciente.NombreOtraViaAdm"/>
                                                        <ValidationMessage For="@(() => registro.productoPaciente.NombreOtraViaAdm)"/>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <ValidationMessage For="@(() => registro.productoPaciente.SelectedViaAdmIds)"/>
                                    </div>
                                    <hr>
                                    
                                    <!-- Dosis -->
                                    <div class="col-6">
                                        <label class="form-label">Dosis (Indicacion del medico)</label>
                                        <InputText class="form-control" placeholder="Ejemplo: 3 gotas, 2 capsulas, 4 puff" @bind-Value="registro.productoPaciente.DetDosisPaciente"/>
                                    </div>
                                    <div class="col-12">
                                        <label>¿Cuántas veces al día utiliza el medicamento y durante cuánto tiempo al mes?</label>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-label">Frecuencia de la dosis</label>
                                        <InputNumber type="number"  class="form-control" @bind-Value="registro.productoPaciente.DosisFrecuencia" placeholder="Ingrese la frecuencia"/>
                                        <p class="form-text">veces al día (indicar del 1 al 6)</p>
                                        <ValidationMessage For="@(() => registro.productoPaciente.DosisFrecuencia)"/>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-label">Duración de la dosis</label>
                                        <InputNumber class="form-control" @bind-Value="registro.productoPaciente.DosisDuracion" placeholder="Ingrese la dosis"/>
                                        <p class="form-text">días al mes (indicar del 1 al 31)</p>
                                        <ValidationMessage For="@(() => registro.productoPaciente.DosisDuracion)"/>
                                    </div>
                                    
                                    <!-- dosis rescate -->
                                    <div class="col-12">
                                        <label>¿Utiliza dosis de rescate?</label>
                                        <div class="d-flex gap-4">

                                            <div class="form-check">
                                                <input type="checkbox"
                                                       class="form-check-input"
                                                       id="chkSi"
                                                       checked="@(registro.productoPaciente.UsaDosisRescateEnum == UsaDosisRescate.Si)"
                                                       @onchange="() => registro.productoPaciente.UsaDosisRescateEnum = UsaDosisRescate.Si"/>
                                                <label class="form-check-label" for="chkSi">Si</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox"
                                                       class="form-check-input"
                                                       id="chkNo"
                                                       checked="@(registro.productoPaciente.UsaDosisRescateEnum == UsaDosisRescate.No)"
                                                       @onchange="() => registro.productoPaciente.UsaDosisRescateEnum = UsaDosisRescate.No"/>
                                                <label class="form-check-label" for="chkNo">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (currentStepNumber == 5)
                    {
                        <!-- Cormobilidades del paciente -->
                        <div class="form-check mb-3">
                            <input type="checkbox"
                                   class="form-check-input"
                                   id="chkComorbilidad"
                                   @bind="tieneComorbilidad"/>
                            <label class="form-check-label" for="chkComorbilidad">¿Tiene alguna comorbilidad?</label>
                        </div>
                        @if (tieneComorbilidad)
                        {
                            <div class="col-6">
                                <label class="form-label">Nombre de diagnostico</label>
                                <InputText class="form-control" @bind-Value="registro.pacienteComorbilidad.NombreDiagnostico"/>
                                <ValidationMessage For="@(() => registro.pacienteComorbilidad.NombreDiagnostico)"/>
                            </div>
                            
                            <div class="col-6">
                                <label class="form-label">Tratamientos</label>
                                <InputTextArea class="form-control" @bind-Value="registro.pacienteComorbilidad.DetalleTratamiento"/>
                            </div>
                        }
                    }
                    else if (currentStepNumber == 6)
                    {
                        <div class="mb-3">
                            <label>Tipo de trámite:</label>
                            <select class="form-select" @bind="tipoTramite">
                                <option value="">Seleccione...</option>
                                <option value="MayorPaciente">Paciente mayor con discapacidad</option>
                                <option value="MayorAcompanante">Acompañante de mayor con discapacidad</option>
                                <option value="MenorPaciente">Paciente menor</option>
                                <option value="MenorAcompanante">Acompañante de menor</option>
                                <option value="Renovacion">Documentos para emisión/renovación</option>
                            </select>
                        </div>

                            @if (tipoTramite == "MayorPaciente")
                            {
                                <h5>Requisitos para paciente mayor con discapacidad</h5>
                                <InputFile OnChange="@((e) => OnFileChange(e, "CedulaPaciente"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "CertificacionMedica"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "FotoPaciente"))" />
                            }
                            else if (tipoTramite == "MayorAcompanante")
                            {
                                <h5>Requisitos para acompañante de mayor con discapacidad</h5>
                                <InputFile OnChange="@((e) => OnFileChange(e, "CedulaAcompanante"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "SentenciaTutor"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "Antecedentes"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "FotoAcompanante"))" />
                            }
                            else if (tipoTramite == "MenorPaciente")
                            {
                                <h5>Requisitos para paciente menor</h5>
                                <InputFile OnChange="@((e) => OnFileChange(e, "IdentidadMenor"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "ConsentimientoPadres"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "CertificacionMedica"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "FotoPaciente"))" />
                            }
                            else if (tipoTramite == "MenorAcompanante")
                            {
                                <h5>Requisitos para acompañante de menor</h5>
                                <InputFile OnChange="@((e) => OnFileChange(e, "CedulaAcompanante"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "CertificadoNacimientoMenor"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "SentenciaTutor"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "Antecedentes"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "FotoAcompanante"))" />
                            }
                            else if (tipoTramite == "Renovacion")
                            {
                                <h5>Documentos para emisión/renovación</h5>
                                <InputFile OnChange="@((e) => OnFileChange(e, "CedulaPaciente"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "CertificacionMedica"))" />
                                <InputFile OnChange="@((e) => OnFileChange(e, "FotoPaciente"))" />
                            }

                            @if (!string.IsNullOrEmpty(tipoTramite))
                            {
                                <button class="btn btn-primary mt-3" type="submit">Enviar</button>
                            }
                    }
                    
                }
                <!-- Navigation Buttons -->
                <div class="d-flex justify-content-between mt-5">
                    <button class="btn btn-outline-primary px-4" 
                            @onclick="PreviousStep" 
                            disabled="@(currentStepNumber == 1)">
                        ATRAS
                    </button>
                    <button class="btn btn-primary px-4" 
                            @onclick="NextStep">
                        @(currentStepNumber == steps.Count ? "FINALIZAR" : "SIGUIENTE")
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</EditForm>
